In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\soumi\OneDrive\Desktop\Online Retail.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
# Data cleaning process

In [3]:
df = df.dropna(subset=['CustomerID'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
df = df[df['Quantity']>0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
df = df[df['UnitPrice']>0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [6]:
df= df[~df['InvoiceNo'].astype(str).str.contains('C')]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [7]:
# Watch top 300 data
pd.set_option('display.max.rows',300)
df.head(300)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
36,536370,22659,LUNCH BOX I LOVE LONDON,24,2010-12-01 08:45:00,1.95,12583.0,France
37,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France
39,536370,21731,RED TOADSTOOL LED NIGHT LIGHT,24,2010-12-01 08:45:00,1.65,12583.0,France
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583.0,France
41,536370,21913,VINTAGE SEASIDE JIGSAW PUZZLES,12,2010-12-01 08:45:00,3.75,12583.0,France
42,536370,22540,MINI JIGSAW CIRCUS PARADE,24,2010-12-01 08:45:00,0.42,12583.0,France
43,536370,22544,MINI JIGSAW SPACEBOY,24,2010-12-01 08:45:00,0.42,12583.0,France
44,536370,22492,MINI PAINT SET VINTAGE,36,2010-12-01 08:45:00,0.65,12583.0,France
45,536370,POST,POSTAGE,3,2010-12-01 08:45:00,18.00,12583.0,France
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom
47,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
48,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom
51,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:02:00,2.75,17850.0,United Kingdom
52,536373,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:02:00,4.95,17850.0,United Kingdom
53,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
54,536373,21871,SAVE THE PLANET MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
55,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
56,536373,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
57,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:02:00,4.95,17850.0,United Kingdom
58,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-12-01 09:02:00,6.95,17850.0,United Kingdom
59,536373,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-12-01 09:02:00,2.10,17850.0,United Kingdom
60,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom
61,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom
62,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom
63,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 09:02:00,7.65,17850.0,United Kingdom
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,United Kingdom
65,536374,21258,VICTORIAN SEWING BOX LARGE,32,2010-12-01 09:09:00,10.95,15100.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom
67,536375,71053,WHITE METAL LANTERN,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom
68,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:32:00,2.75,17850.0,United Kingdom
69,536375,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:32:00,4.95,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
71,536375,21871,SAVE THE PLANET MUG,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
72,536375,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
73,536375,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
74,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:32:00,4.95,17850.0,United Kingdom
75,536375,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-12-01 09:32:00,6.95,17850.0,United Kingdom
76,536375,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-12-01 09:32:00,2.10,17850.0,United Kingdom
77,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom
78,536375,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom
79,536375,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom
80,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 09:32:00,7.65,17850.0,United Kingdom
81,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:32:00,4.25,17850.0,United Kingdom
82,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,2010-12-01 09:32:00,3.45,15291.0,United Kingdom
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291.0,United Kingdom
84,536377,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:34:00,1.85,17850.0,United Kingdom
85,536377,22633,HAND WARMER UNION JACK,6,2010-12-01 09:34:00,1.85,17850.0,United Kingdom
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom
90,536378,84997B,RED 3 PIECE RETROSPOT CUTLERY SET,12,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
91,536378,84997C,BLUE 3 PIECE POLKADOT CUTLERY SET,6,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
92,536378,21094,SET/6 RED SPOTTY PAPER PLATES,12,2010-12-01 09:37:00,0.85,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED RETROSPOT,10,2010-12-01 09:37:00,1.65,14688.0,United Kingdom
94,536378,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
100,536378,84519A,TOMATO CHARLIE+LOLA COASTER SET,6,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
101,536378,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,48,2010-12-01 09:37:00,1.25,14688.0,United Kingdom
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688.0,United Kingdom
103,536378,21931,JUMBO STORAGE BAG SUKI,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
104,536378,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
105,536380,22961,JAM MAKING SET PRINTED,24,2010-12-01 09:41:00,1.45,17809.0,United Kingdom
106,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,4.25,15311.0,United Kingdom
107,536381,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,4.95,15311.0,United Kingdom
108,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
109,536381,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom
110,536381,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,6,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
111,536381,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
112,536381,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
113,536381,71270,PHOTO CLIP LINE,1,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
114,536381,22262,FELT EGG COSY CHICKEN,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
115,536381,22637,PIGGY BANK RETROSPOT,1,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
116,536381,21934,SKULL SHOULDER BAG,10,2010-12-01 09:41:00,1.65,15311.0,United Kingdom
117,536381,21169,YOU'RE CONFUSING ME METAL SIGN,3,2010-12-01 09:41:00,1.69,15311.0,United Kingdom
118,536381,21166,COOK WITH WINE METAL SIGN,1,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
119,536381,21175,GIN + TONIC DIET METAL SIGN,2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom
120,536381,37444A,YELLOW BREAKFAST CUP AND SAUCER,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
121,536381,37444C,PINK BREAKFAST CUP AND SAUCER,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
122,536381,22086,PAPER CHAIN KIT 50'S CHRISTMAS,4,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
123,536381,22083,PAPER CHAIN KIT RETROSPOT,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
124,536381,84971S,SMALL HEART FLOWERS HOOK,6,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
125,536381,71270,PHOTO CLIP LINE,3,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
126,536381,47580,TEA TIME DES TEA COSY,2,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
127,536381,22261,FELT EGG COSY WHITE RABBIT,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
128,536381,84832,ZINC WILLIE WINKIE CANDLE STICK,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
129,536381,22644,CERAMIC CHERRY CAKE MONEY BANK,1,2010-12-01 09:41:00,1.45,15311.0,United Kingdom
130,536381,21533,RETROSPOT LARGE MILK JUG,1,2010-12-01 09:41:00,4.95,15311.0,United Kingdom
131,536381,21557,SET OF 6 FUNKY BEAKERS,2,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
132,536381,15056BL,EDWARDIAN PARASOL BLACK,2,2010-12-01 09:41:00,5.95,15311.0,United Kingdom
133,536381,15056N,EDWARDIAN PARASOL NATURAL,2,2010-12-01 09:41:00,5.95,15311.0,United Kingdom
134,536381,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,4,2010-12-01 09:41:00,1.45,15311.0,United Kingdom
135,536381,22176,BLUE OWL SOFT TOY,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
136,536381,22438,BALLOON ART MAKE YOUR OWN FLOWERS,1,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
137,536381,21731,RED TOADSTOOL LED NIGHT LIGHT,2,2010-12-01 09:41:00,1.65,15311.0,United Kingdom
138,536381,22778,GLASS CLOCHE SMALL,3,2010-12-01 09:41:00,3.95,15311.0,United Kingdom
139,536381,22719,GUMBALL MONOCHROME COAT RACK,36,2010-12-01 09:41:00,1.06,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,2010-12-01 09:41:00,6.75,15311.0,United Kingdom
142,536382,10002,INFLATABLE POLITICAL GLOBE,12,2010-12-01 09:45:00,0.85,16098.0,United Kingdom
143,536382,21912,VINTAGE SNAKES & LADDERS,8,2010-12-01 09:45:00,3.75,16098.0,United Kingdom
144,536382,21832,CHOCOLATE CALCULATOR,12,2010-12-01 09:45:00,1.65,16098.0,United Kingdom
145,536382,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:45:00,1.95,16098.0,United Kingdom
146,536382,22379,RECYCLING BAG RETROSPOT,10,2010-12-01 09:45:00,2.10,16098.0,United Kingdom
147,536382,22381,TOY TIDY PINK POLKADOT,50,2010-12-01 09:45:00,1.85,16098.0,United Kingdom
148,536382,22798,ANTIQUE GLASS DRESSING TABLE POT,8,2010-12-01 09:45:00,2.95,16098.0,United Kingdom
149,536382,22726,ALARM CLOCK BAKELIKE GREEN,4,2010-12-01 09:45:00,3.75,16098.0,United Kingdom
150,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,2010-12-01 09:45:00,5.95,16098.0,United Kingdom
151,536382,22839,3 TIER CAKE TIN GREEN AND CREAM,2,2010-12-01 09:45:00,14.95,16098.0,United Kingdom
152,536382,22838,3 TIER CAKE TIN RED AND CREAM,2,2010-12-01 09:45:00,14.95,16098.0,United Kingdom
153,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-01 09:45:00,16.95,16098.0,United Kingdom
155,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,2010-12-01 09:53:00,6.45,18074.0,United Kingdom
156,536384,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,48,2010-12-01 09:53:00,0.65,18074.0,United Kingdom
157,536384,22464,HANGING METAL HEART LANTERN,12,2010-12-01 09:53:00,1.65,18074.0,United Kingdom
158,536384,21324,HANGING MEDINA LANTERN SMALL,6,2010-12-01 09:53:00,2.95,18074.0,United Kingdom
159,536384,22457,NATURAL SLATE HEART CHALKBOARD,12,2010-12-01 09:53:00,2.95,18074.0,United Kingdom
160,536384,22469,HEART OF WICKER SMALL,40,2010-12-01 09:53:00,1.45,18074.0,United Kingdom
161,536384,22470,HEART OF WICKER LARGE,40,2010-12-01 09:53:00,2.55,18074.0,United Kingdom
162,536384,22224,WHITE LOVEBIRD LANTERN,6,2010-12-01 09:53:00,2.95,18074.0,United Kingdom
163,536384,21340,CLASSIC METAL BIRDCAGE PLANT HOLDER,2,2010-12-01 09:53:00,12.75,18074.0,United Kingdom
164,536384,22189,CREAM HEART CARD HOLDER,4,2010-12-01 09:53:00,3.95,18074.0,United Kingdom
165,536384,22427,ENAMEL FLOWER JUG CREAM,3,2010-12-01 09:53:00,5.95,18074.0,United Kingdom
166,536384,22428,ENAMEL FIRE BUCKET CREAM,6,2010-12-01 09:53:00,6.95,18074.0,United Kingdom
167,536384,22424,ENAMEL BREAD BIN CREAM,8,2010-12-01 09:53:00,10.95,18074.0,United Kingdom
168,536385,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2010-12-01 09:56:00,19.95,17420.0,United Kingdom
169,536385,22961,JAM MAKING SET PRINTED,12,2010-12-01 09:56:00,1.45,17420.0,United Kingdom
170,536385,22960,JAM MAKING SET WITH JARS,6,2010-12-01 09:56:00,4.25,17420.0,United Kingdom
171,536385,22663,JUMBO BAG DOLLY GIRL DESIGN,10,2010-12-01 09:56:00,1.95,17420.0,United Kingdom
172,536385,85049A,TRADITIONAL CHRISTMAS RIBBONS,12,2010-12-01 09:56:00,1.25,17420.0,United Kingdom
173,536385,22168,ORGANISER WOOD ANTIQUE WHITE,2,2010-12-01 09:56:00,8.50,17420.0,United Kingdom
174,536385,22662,LUNCH BAG DOLLY GIRL DESIGN,10,2010-12-01 09:56:00,1.65,17420.0,United Kingdom
175,536386,84880,WHITE WIRE EGG HOLDER,36,2010-12-01 09:57:00,4.95,16029.0,United Kingdom
176,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029.0,United Kingdom
177,536386,85099B,JUMBO BAG RED RETROSPOT,100,2010-12-01 09:57:00,1.65,16029.0,United Kingdom
178,536387,79321,CHILLI LIGHTS,192,2010-12-01 09:58:00,3.82,16029.0,United Kingdom
179,536387,22780,LIGHT GARLAND BUTTERFILES PINK,192,2010-12-01 09:58:00,3.37,16029.0,United Kingdom
180,536387,22779,WOODEN OWLS LIGHT GARLAND,192,2010-12-01 09:58:00,3.37,16029.0,United Kingdom
181,536387,22466,FAIRY TALE COTTAGE NIGHTLIGHT,432,2010-12-01 09:58:00,1.45,16029.0,United Kingdom
182,536387,21731,RED TOADSTOOL LED NIGHT LIGHT,432,2010-12-01 09:58:00,1.25,16029.0,United Kingdom
183,536388,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 09:59:00,5.95,16250.0,United Kingdom
184,536388,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 09:59:00,5.95,16250.0,United Kingdom
185,536388,21523,DOORMAT FANCY FONT HOME SWEET HOME,2,2010-12-01 09:59:00,7.95,16250.0,United Kingdom
186,536388,21363,HOME SMALL WOOD LETTERS,3,2010-12-01 09:59:00,4.95,16250.0,United Kingdom
187,536388,21411,GINGHAM HEART DOORSTOP RED,3,2010-12-01 09:59:00,4.25,16250.0,United Kingdom
188,536388,22318,FIVE HEART HANGING DECORATION,6,2010-12-01 09:59:00,2.95,16250.0,United Kingdom
189,536388,22464,HANGING METAL HEART LANTERN,12,2010-12-01 09:59:00,1.65,16250.0,United Kingdom
190,536388,22915,ASSORTED BOTTLE TOP MAGNETS,12,2010-12-01 09:59:00,0.42,16250.0,United Kingdom
191,536388,22922,FRIDGE MAGNETS US DINER ASSORTED,12,2010-12-01 09:59:00,0.85,16250.0,United Kingdom
192,536388,22969,HOMEMADE JAM SCENTED CANDLES,12,2010-12-01 09:59:00,1.45,16250.0,United Kingdom
193,536388,22923,FRIDGE MAGNETS LES ENFANTS ASSORTED,12,2010-12-01 09:59:00,0.85,16250.0,United Kingdom
194,536388,21115,ROSE CARAVAN DOORSTOP,4,2010-12-01 09:59:00,6.75,16250.0,United Kingdom
195,536388,22469,HEART OF WICKER SMALL,12,2010-12-01 09:59:00,1.65,16250.0,United Kingdom
196,536388,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 09:59:00,1.65,16250.0,United Kingdom
197,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,2010-12-01 10:03:00,8.50,12431.0,Australia
198,536389,21622,VINTAGE UNION JACK CUSHION COVER,8,2010-12-01 10:03:00,4.95,12431.0,Australia
199,536389,21791,VINTAGE HEADS AND TAILS CARD GAME,12,2010-12-01 10:03:00,1.25,12431.0,Australia
200,536389,35004C,SET OF 3 COLOURED FLYING DUCKS,6,2010-12-01 10:03:00,5.45,12431.0,Australia
201,536389,35004G,SET OF 3 GOLD FLYING DUCKS,4,2010-12-01 10:03:00,6.35,12431.0,Australia
202,536389,85014B,RED RETROSPOT UMBRELLA,6,2010-12-01 10:03:00,5.95,12431.0,Australia
203,536389,85014A,BLACK/BLUE POLKADOT UMBRELLA,3,2010-12-01 10:03:00,5.95,12431.0,Australia
204,536389,22193,RED DINER WALL CLOCK,2,2010-12-01 10:03:00,8.50,12431.0,Australia
205,536389,22726,ALARM CLOCK BAKELIKE GREEN,4,2010-12-01 10:03:00,3.75,12431.0,Australia
206,536389,22727,ALARM CLOCK BAKELIKE RED,4,2010-12-01 10:03:00,3.75,12431.0,Australia
207,536389,22192,BLUE DINER WALL CLOCK,2,2010-12-01 10:03:00,8.50,12431.0,Australia
208,536389,22191,IVORY DINER WALL CLOCK,2,2010-12-01 10:03:00,8.50,12431.0,Australia
209,536389,22195,LARGE HEART MEASURING SPOONS,24,2010-12-01 10:03:00,1.65,12431.0,Australia
210,536389,22196,SMALL HEART MEASURING SPOONS,24,2010-12-01 10:03:00,0.85,12431.0,Australia
211,536390,22941,CHRISTMAS LIGHTS 10 REINDEER,2,2010-12-01 10:19:00,8.50,17511.0,United Kingdom
212,536390,22960,JAM MAKING SET WITH JARS,12,2010-12-01 10:19:00,3.75,17511.0,United Kingdom

In [ ]:
# Create revenue column

In [9]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [ ]:
# Create 4 new table and import them to excel file

In [ ]:
invoices = df[['CustomerID','InvoiceNo','InvoiceDate','StockCode','Quantity','Revenue']]
invoices

In [ ]:
invoices.to_excel(r'D:\Retail table\Invoice.xlsx',index = False)

In [ ]:
customers = df[['CustomerID','Country']]
customers

In [ ]:
customers.to_excel(r'D:\Retail table\Customer.xlsx',index = False)

In [ ]:
products = df[['StockCode','Description','UnitPrice']]
products

In [ ]:
products.to_excel(r'D:\Retail table\Product.xlsx',index = False)

In [ ]:
countries = df[['Country']]
countries

In [ ]:
countries.to_excel(r'D:\Retail table\Country.xlsx',index = False)

In [ ]:
#Total revenue

In [10]:
df['Revenue'].sum()

8911407.904

In [ ]:
#Total customers

In [11]:
df['CustomerID'].nunique()

4338

In [ ]:
#Top customers

In [12]:
grouping = df.groupby('CustomerID')
top_customers=grouping['Revenue'].sum().sort_values(ascending=False)
top_customers.head(10)

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194550.79
16446.0    168472.50
14911.0    143825.06
12415.0    124914.53
14156.0    117379.63
17511.0     91062.38
16029.0     81024.84
12346.0     77183.60
Name: Revenue, dtype: float64

In [ ]:
#Top products

In [13]:
group = df.groupby(['StockCode','Description'])
top_product = group['Revenue'].sum().sort_values(ascending=False)
top_product.head(10)

StockCode  Description
23843      PAPER CRAFT , LITTLE BIRDIE           168469.60
22423      REGENCY CAKESTAND 3 TIER              142592.95
85123A     WHITE HANGING HEART T-LIGHT HOLDER    100448.15
85099B     JUMBO BAG RED RETROSPOT                85220.78
23166      MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POST       POSTAGE                                77803.96
47566      PARTY BUNTING                          68844.33
84879      ASSORTED COLOUR BIRD ORNAMENT          56580.34
M          Manual                                 53779.93
23084      RABBIT NIGHT LIGHT                     51346.20
Name: Revenue, dtype: float64

In [14]:
# Calculating frequency
frequency = grouping['InvoiceNo'].nunique()
frequency

CustomerID
12346.0     1
12347.0     7
12348.0     4
12349.0     1
12350.0     1
           ..
18280.0     1
18281.0     1
18282.0     2
18283.0    16
18287.0     3
Name: InvoiceNo, Length: 4338, dtype: int64

In [15]:
# Calculating monetory
monetory = grouping['Revenue'].sum()
monetory

CustomerID
12346.0    77183.60
12347.0     4310.00
12348.0     1797.24
12349.0     1757.55
12350.0      334.40
             ...
18280.0      180.60
18281.0       80.82
18282.0      178.05
18283.0     2094.88
18287.0     1837.28
Name: Revenue, Length: 4338, dtype: float64

In [16]:
# change the date string to datetime type
reffdate = pd.Timestamp('2011-12-10')

In [17]:
# Calculating Recency
day = grouping['InvoiceDate'].apply(lambda x :(reffdate - x.max()).days)
day

CustomerID
12346.0    325
12347.0      2
12348.0     75
12349.0     18
12350.0    310
          ...
18280.0    277
18281.0    180
18282.0      7
18283.0      3
18287.0     42
Name: InvoiceDate, Length: 4338, dtype: int64

In [18]:
# Create a rfm table using Id , frequency , monetary , recency
rfm = grouping.agg({'InvoiceNo':'nunique' , 'Revenue':'sum' ,'InvoiceDate':(lambda x :(reffdate - x.max()).days)})
rfm.columns = ['frequency','monetary','recency']
rfm

            frequency  monetary  recency
CustomerID
12346.0             1  77183.60      325
12347.0             7   4310.00        2
12348.0             4   1797.24       75
12349.0             1   1757.55       18
12350.0             1    334.40      310
...               ...       ...      ...
18280.0             1    180.60      277
18281.0             1     80.82      180
18282.0             2    178.05        7
18283.0            16   2094.88        3
18287.0             3   1837.28       42

[4338 rows x 3 columns]

In [ ]:
# Create recency score

In [20]:
rfm['rscore'] = pd.qcut(rfm['recency'],5,labels =['5','4','3','2','1'])
rfm

            frequency  monetary  recency rscore
CustomerID
12346.0             1  77183.60      325      1
12347.0             7   4310.00        2      5
12348.0             4   1797.24       75      2
12349.0             1   1757.55       18      4
12350.0             1    334.40      310      1
...               ...       ...      ...    ...
18280.0             1    180.60      277      1
18281.0             1     80.82      180      1
18282.0             2    178.05        7      5
18283.0            16   2094.88        3      5
18287.0             3   1837.28       42      3

[4338 rows x 4 columns]

In [ ]:
# Create monetary score

In [21]:
rfm['mscore'] = pd.qcut(rfm['monetary'],5,labels =['1','2','3','4','5'])
rfm

            frequency  monetary  recency rscore mscore
CustomerID
12346.0             1  77183.60      325      1      5
12347.0             7   4310.00        2      5      5
12348.0             4   1797.24       75      2      4
12349.0             1   1757.55       18      4      4
12350.0             1    334.40      310      1      2
...               ...       ...      ...    ...    ...
18280.0             1    180.60      277      1      1
18281.0             1     80.82      180      1      1
18282.0             2    178.05        7      5      1
18283.0            16   2094.88        3      5      5
18287.0             3   1837.28       42      3      4

[4338 rows x 5 columns]

In [ ]:
# Create frequency score

In [22]:
rfm['fscore'] = pd.qcut(rfm['frequency'].rank(method='first'),5,labels =['1','2','3','4','5'])
rfm

            frequency  monetary  recency rscore mscore fscore
CustomerID
12346.0             1  77183.60      325      1      5      1
12347.0             7   4310.00        2      5      5      5
12348.0             4   1797.24       75      2      4      4
12349.0             1   1757.55       18      4      4      1
12350.0             1    334.40      310      1      2      1
...               ...       ...      ...    ...    ...    ...
18280.0             1    180.60      277      1      1      2
18281.0             1     80.82      180      1      1      2
18282.0             2    178.05        7      5      1      3
18283.0            16   2094.88        3      5      5      5
18287.0             3   1837.28       42      3      4      4

[4338 rows x 6 columns]

In [ ]:
# Creating score column combining three score column

In [23]:
rfm['score']= (rfm['rscore'].astype(str) + rfm['fscore'].astype(str) + rfm['mscore'].astype(str) )
rfm

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12346.0             1  77183.60      325      1      5      1   115
12347.0             7   4310.00        2      5      5      5   555
12348.0             4   1797.24       75      2      4      4   244
12349.0             1   1757.55       18      4      4      1   414
12350.0             1    334.40      310      1      2      1   112
...               ...       ...      ...    ...    ...    ...   ...
18280.0             1    180.60      277      1      1      2   121
18281.0             1     80.82      180      1      1      2   121
18282.0             2    178.05        7      5      1      3   531
18283.0            16   2094.88        3      5      5      5   555
18287.0             3   1837.28       42      3      4      4   344

[4338 rows x 7 columns]

In [ ]:
# Data analysis on the basis of rfm score

In [24]:
lowfreq = rfm[rfm['fscore'].astype(int) <2]
lowfreq

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12346.0             1  77183.60      325      1      5      1   115
12349.0             1   1757.55       18      4      4      1   414
12350.0             1    334.40      310      1      2      1   112
12353.0             1     89.00      204      1      1      1   111
12354.0             1   1079.40      232      1      4      1   114
...               ...       ...      ...    ...    ...    ...   ...
15740.0             1    154.88       49      3      1      1   311
15744.0             1     34.80       77      2      1      1   211
15746.0             1    196.88      134      2      1      1   211
15748.0             1    149.31       40      3      1      1   311
15753.0             1     79.20      304      1      1      1   111

[868 rows x 7 columns]

In [26]:
mostrecent = rfm[rfm['rscore'].astype(int) >4]
mostrecent

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12347.0             7   4310.00        2      5      5      5   555
12358.0             2   1168.06        1      5      4      2   524
12362.0            10   5226.23        3      5      5      5   555
12364.0             4   1313.10        7      5      4      4   544
12367.0             1    168.90        4      5      1      1   511
...               ...       ...      ...    ...    ...    ...   ...
18245.0             7   2567.06        7      5      5      5   555
18272.0             6   3078.58        2      5      5      5   555
18273.0             3    204.00        2      5      1      4   541
18282.0             2    178.05        7      5      1      3   531
18283.0            16   2094.88        3      5      5      5   555

[868 rows x 7 columns]

In [27]:
highmonetary = rfm[rfm['mscore'].astype(int) > 4]
highmonetary

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12346.0             1  77183.60      325      1      5      1   115
12347.0             7   4310.00        2      5      5      5   555
12352.0             8   2506.04       36      3      5      5   355
12356.0             3   2811.43       22      4      5      3   435
12357.0             1   6207.67       33      3      5      1   315
...               ...       ...      ...    ...    ...    ...   ...
18257.0             8   2337.63       39      3      5      5   355
18259.0             3   2338.60       24      4      5      4   445
18260.0             6   2643.20      172      2      5      5   255
18272.0             6   3078.58        2      5      5      5   555
18283.0            16   2094.88        3      5      5      5   555

[868 rows x 7 columns]

In [28]:
champions = rfm[rfm['score'] =='555']
champions

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12347.0             7   4310.00        2      5      5      5   555
12362.0            10   5226.23        3      5      5      5   555
12417.0             9   3649.10        3      5      5      5   555
12433.0             7  13375.87        0      5      5      5   555
12437.0            18   4951.41        1      5      5      5   555
...               ...       ...      ...    ...    ...    ...   ...
18230.0             7   2810.20        9      5      5      5   555
18241.0            17   2073.09        9      5      5      5   555
18245.0             7   2567.06        7      5      5      5   555
18272.0             6   3078.58        2      5      5      5   555
18283.0            16   2094.88        3      5      5      5   555

[348 rows x 7 columns]

In [29]:
atrisk = rfm[rfm['score'] =='311']
atrisk

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12581.0             1    197.71       39      3      1      1   311
12588.0             1    214.90       39      3      1      1   311
12602.0             1    153.12       58      3      1      1   311
12718.0             1    238.25       71      3      1      1   311
12789.0             1     91.85       65      3      1      1   311
12812.0             1    229.64       44      3      1      1   311
12923.0             1    176.97       64      3      1      1   311
13006.0             1     81.57       56      3      1      1   311
13095.0             1     74.40       70      3      1      1   311
13103.0             1    243.94       39      3      1      1   311
13182.0             1    121.18       45      3      1      1   311
13193.0             1    117.88       61      3      1      1   311
13271.0             1    217.38       37      3      1      1   311
13348.0             1    233.76       64      3      1      1   311
13364.0             1    134.96       71      3      1      1   311
13366.0             1     56.16       50      3      1      1   311
13419.0             1    221.06       63      3      1      1   311
13483.0             1    140.34       65      3      1      1   311
13503.0             1    216.85       71      3      1      1   311
13532.0             1    210.31       33      3      1      1   311
13598.0             1    180.17       47      3      1      1   311
13690.0             1    172.25       59      3      1      1   311
13697.0             1    151.30       38      3      1      1   311
13858.0             1    216.17       57      3      1      1   311
13876.0             1    122.70       63      3      1      1   311
13886.0             1    243.56       71      3      1      1   311
13938.0             1     71.66       35      3      1      1   311
13947.0             1     90.60       65      3      1      1   311
13980.0             1    200.14       60      3      1      1   311
14027.0             1    104.82       60      3      1      1   311
14039.0             1    152.20       33      3      1      1   311
14054.0             1     92.46       65      3      1      1   311
14089.0             1    161.00       56      3      1      1   311
14098.0             1    147.35       36      3      1      1   311
14174.0             1    134.46       33      3      1      1   311
14218.0             1    169.48       42      3      1      1   311
14295.0             1    166.20       40      3      1      1   311
14345.0             1    108.98       38      3      1      1   311
14357.0             1    225.77       43      3      1      1   311
14381.0             1    202.68       52      3      1      1   311
14485.0             1    165.75       38      3      1      1   311
14518.0             1    174.37       64      3      1      1   311
14582.0             1    114.11       40      3      1      1   311
14585.0             1    157.05       50      3      1      1   311
14598.0             1    221.97       44      3      1      1   311
14642.0             1     96.12       58      3      1      1   311
14792.0             1      6.20       63      3      1      1   311
14799.0             1    157.70       51      3      1      1   311
14801.0             1    193.14       61      3      1      1   311
14830.0             1    197.13       53      3      1      1   311
14861.0             1    125.79       52      3      1      1   311
14974.0             1    114.39       37      3      1      1   311
15017.0             1    125.58       33      3      1      1   311
15096.0             1    219.39       42      3      1      1   311
15175.0             1    224.14       71      3      1      1   311
15276.0             1    135.31       66      3      1      1   311
15286.0             1    240.55       49      3      1      1   311
15327.0             1    208.75       52      3      1      1   311
15335.0             1    173.97       53      3      1      1   311
15423.0             1     43.50       38      3      1      1   311
15593.0             1    199.80       70      3      1      1   311
15598.0             1    240.68       53      3      1      1   311
15604.0             1    216.39       52      3      1      1   311
15610.0             1    112.46       51      3      1      1   311
15637.0             1    223.36       52      3      1      1   311
15740.0             1    154.88       49      3      1      1   311
15748.0             1    149.31       40      3      1      1   311

In [34]:
# To satisfy multiple conditions on multiple column
result = rfm[(rfm['fscore'].astype(int) >4) & (rfm['mscore'].astype(int) == 4 )]
result

            frequency  monetary  recency rscore mscore fscore score
CustomerID
12423.0             8   1859.31        0      5      4      5   554
12464.0             8   1212.05       10      5      4      5   554
12494.0             7   1246.10       15      4      4      5   454
12523.0            11   1789.77       19      4      4      5   454
12528.0             6   1933.48        9      5      4      5   554
12599.0             7   1032.58       29      4      4      5   454
12676.0             6   1331.39       24      4      4      5   454
12691.0             6   1035.80       28      4      4      5   454
12826.0             7   1474.72        2      5      4      5   554
12828.0             6   1018.71        2      5      4      5   554
12843.0             8   1702.26       65      3      4      5   354
12853.0             6   1957.10      134      2      4      5   254
12868.0             6   1607.06      185      1      4      5   154
12877.0            12   1535.77        3      5      4      5   554
12919.0             6   1335.19        8      5      4      5   554
12947.0             6   1603.99      143      2      4      5   254
12951.0             6   1064.07        8      5      4      5   554
12963.0             8   1856.63        8      5      4      5   554
13012.0             8   1661.84        9      5      4      5   554
13094.0            12   1927.32       21      4      4      5   454
13104.0             6   1098.48        3      5      4      5   554
13110.0             7   1488.67       31      4      4      5   454
13117.0             8    984.91       21      4      4      5   454
13138.0             6    962.39       22      4      4      5   454
13184.0            10   1701.29       14      4      4      5   454
13208.0             6   1223.90       58      3      4      5   354
13232.0             7   1357.60       12      5      4      5   554
13246.0             6   1987.30       18      4      4      5   454
13305.0            10   2000.86        4      5      4      5   554
13450.0             6   2043.72       26      4      4      5   454
13456.0             6   1766.72       17      4      4      5   454
13477.0             6   1454.58       37      3      4      5   354
13491.0            10   1215.82       51      3      4      5   354
13509.0             7    979.72        8      5      4      5   554
13538.0             7   1280.85       43      3      4      5   354
13590.0             6   1981.92       11      5      4      5   554
13610.0             7   1131.88       12      5      4      5   554
13630.0             7   2031.78        5      5      4      5   554
13650.0             6   1836.34       16      4      4      5   454
13717.0             6   1445.01       32      4      4      5   454
13725.0             8   1980.56       49      3      4      5   354
13728.0             6   1016.14       36      3      4      5   354
13743.0             7   1341.60        2      5      4      5   554
13752.0             6   1186.28      124      2      4      5   254
13890.0            10   1883.81        1      5      4      5   554
13924.0             6   1838.85        1      5      4      5   554
14071.0             8   1438.82        3      5      4      5   554
14078.0             6   1049.37      101      2      4      5   254
14083.0             9   1018.43        4      5      4      5   554
14178.0             7   1620.93        8      5      4      5   554
14188.0             6   2054.36       30      4      4      5   454
14210.0             6   1905.84      105      2      4      5   254
14215.0             6   1789.72       11      5      4      5   554
14217.0            17   2004.98        1      5      4      5   554
14312.0             6   1611.59       46      3      4      5   354
14404.0             6   1474.32       33      3      4      5   354
14410.0             9   1105.07       92      2      4      5   254
14414.0             7   1496.98       91      2      4      5   254
14419.0             6   1058.06       10      5      4      5   554
14434.0             6   1372.80       21      4      4      5   454
14462.0            11   2004.02       66      3      4      5   354
14472.0             8   1936.84      103      2      4      5   254
14487.0             6   1196.33       26      4      4      5   454
14507.0             6   1383.18       23      4      4      5   454
14524.0             9   1867.68       31      4      4      5   454
14533.0             7   1949.72       24      4      4      5   454
14541.0             8   1461.65       58      3      4      5   354
14573.0             9   1653.42      179      2      4      5   254
14587.0             9   1601.14       18      4      4      5   454
14595.0             6   1740.60       19      4      4      5   454
14653.0             7   1947.55        1      5      4      5   554
14704.0             9   1546.91       11      5      4      5   554
14723.0             6   1158.30       10      5      4      5   554
14730.0             8   2005.06        1      5      4      5   554
14738.0             7   1314.45       42      3      4      5   354
14741.0             6   1400.34       11      5      4      5   554
14744.0             7   1099.98       16      4      4      5   454
14794.0             7   1319.91        2      5      4      5   554
14834.0             6   1720.30       17      4      4      5   454
14878.0             9   1485.54       12      5      4      5   554
14898.0             6   1303.52       23      4      4      5   454
14901.0             9   1421.29       11      5      4      5   554
14948.0             6   1101.97       23      4      4      5   454
15021.0             9   1914.82        8      5      4      5   554
15024.0            10   1661.33        9      5      4      5   554
15059.0             9   1337.72       40      3      4      5   354
15134.0             8   1387.99       14      4      4      5   454
15203.0             6   1827.80       25      4      4      5   454
15214.0             8   1661.44        1      5      4      5   554
15220.0             6   1778.96       51      3      4      5   354
15241.0             8   1756.44       66      3      4      5   354
15260.0             7   1810.77      100      2      4      5   254
15351.0             7   1960.11       12      5      4      5   554
15453.0             7   1388.37        1      5      4      5   554
15473.0             7   1771.20       14      4      4      5   454
15508.0             6   1000.27      189      1      4      5   154
15518.0             8   1942.45       64      3      4      5   354
15602.0             9   1297.87        8      5      4      5   554
15611.0            13   1591.45        9      5      4      5   554
15660.0             9   1600.86       25      4      4      5   454
15737.0             8   1205.12       14      4      4      5   454
15827.0            14   1836.09       73      2      4      5   254
15860.0             8    977.21       40      3      4      5   354
15864.0             6   1936.32       22      4      4      5   454
15906.0             7   1567.69       19      4      4      5   454
15910.0             8   1232.18        0      5      4      5   554
15916.0             8   1528.09       16      4      4      5   454
15953.0             8   1659.38       15      4      4      5   454
15987.0             7   1451.28       12      5      4      5   554
15996.0             6   1060.68       88      2      4      5   254
16016.0             8   1508.76        3      5      4      5   554
16059.0             6   1459.86       65      3      4      5   354
16098.0             7   2005.63       87      2      4      5   254
16103.0             6   1429.64        7      5      4      5   554
16115.0             8   1667.97        9      5      4      5   554
16170.0             6   1885.05       50      3      4      5   354
16173.0             6   1418.32       15      4      4      5   454
16184.0             6   1158.79       64      3      4      5   354
16332.0             7   1593.20       28      4      4      5   454
16348.0             7   1469.45       32      4      4      5   454
16359.0             9   1750.92        7      5      4      5   554
16365.0             9   1540.42       17      4      4      5   454
16419.0             6    972.23      112      2      4      5   254
16426.0            10   1908.25        2      5      4      5   554
16434.0             7   1522.25       29      4      4      5   454
16455.0             7   1841.18       63      3      4      5   354
16466.0             7   1603.46       33      3      4      5   354
16474.0             7   1871.50        7      5      4      5   554
16531.0             7   1244.59       22      4      4      5   454
16638.0            10   1680.72       22      4      4      5   454
16681.0             6   1770.34       72      2      4      5   254
16719.0             7   1790.42       14      4      4      5   454
16744.0             7   1304.76       11      5      4      5   554
16775.0            11   1695.66       10      5      4      5   554
16790.0             6   1545.62        3      5      4      5   554
16791.0             7   1721.78       29      4      4      5   454
16794.0            10   1222.71        1      5      4      5   554
16813.0            10   1692.98        8      5      4      5   554
16817.0             9   1604.75        2      5      4      5   554
16841.0             6   1869.82       36      3      4      5   354
16880.0             7   1519.08       30      4      4      5   454
16899.0             6   1281.56        7      5      4      5   554
16910.0             8   1510.06        4      5      4      5   554
16918.0             6   1068.82       49      3      4      5   354
16929.0             7   1295.39        3      5      4      5   554
16942.0             9   1920.59       12      5      4      5   554
16949.0             6   1286.27        3      5      4      5   554
16979.0             6   1852.00        3      5      4      5   554
16983.0             7   1931.25       12      5      4      5   554
16987.0             7   1625.05        3      5      4      5   554
16989.0             6   1133.25        7      5      4      5   554
16996.0             6   1456.96       30      4      4      5   454
17063.0             7   1461.14       21      4      4      5   454
17086.0             6   2050.08        7      5      4      5   554
17090.0             7   2043.95        4      5      4      5   554
17097.0             8    954.42        2      5      4      5   554
17135.0             7   1139.73       16      4      4      5   454
17162.0            10   1715.46       28      4      4      5   454
17193.0             7   1699.30       35      3      4      5   354
17214.0             6   1069.12       60      3      4      5   354
17218.0            10   1960.72        4      5      4      5   554
17228.0             8   1906.09       15      4      4      5   454
17284.0             6   1652.58       60      3      4      5   354
17287.0             7   1064.11       26      4      4      5   454
17288.0             7   1419.73        9      5      4      5   554
17293.0             9   1875.11        8      5      4      5   554
17368.0             8   1912.67       23      4      4      5   454
17372.0             8   1342.68       40      3      4      5   354
17412.0             7   1258.06        2      5      4      5   554
17422.0             6   1979.37       16      4      4      5   454
17451.0             7   1721.40        1      5      4      5   554
17519.0             6   1844.02       17      4      4      5   454
17562.0             7   1122.38       14      4      4      5   454
17612.0             6   2048.45       53      3      4      5   354
17629.0             8   1814.12        5      5      4      5   554
17663.0             7   1802.91       25      4      4      5   454
17673.0             6   1629.12        1      5      4      5   554
17676.0             6   1387.68        4      5      4      5   554
17705.0             9   1823.52        3      5      4      5   554
17750.0             9   1797.57        5      5      4      5   554
17790.0            14   1965.55       26      4      4      5   454
17800.0             9   1199.01       37      3      4      5   354
17837.0             8   1593.38       42      3      4      5   354
17867.0             6   1197.10       30      4      4      5   454
17870.0            12   1894.35        2      5      4      5   554
17894.0             8   1119.81       71      3      4      5   354
17961.0            39   1296.44       21      4      4      5   454
17997.0             8   1970.67       74      2      4      5   254
18116.0             8   1418.03       67      3      4      5   354
18122.0             6   1826.21        8      5      4      5   554
18168.0             6   1169.94      176      2      4      5   254
18177.0             6   1341.42       31      4      4      5   454
18179.0             6   1793.17        9      5      4      5   554
18180.0             6   1843.75        4      5      4      5   554